*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

CC-FX/iics.properties
CC-FX/dist

CC-FX/dist/CC-FX.html

CC-FX/dist/CC-FX.jnlp

CC-FX/iics.properties

CC-FX/dist/logs

CC-FX/Logs/logger.log

CC-FX/nbproject/private/private.xml
CC-FX/build/classes/com/saiton/ccs/base/LoginNoFinger.fxml
CC-FX/build/built-jar.properties
CC-FX/ccs.properties
CC-FX/build/classes/com/saiton/ccs/base/DatabaseCon.fxml
CC-FX/build/classes/com/saiton/ccs/res/JMetroLightTheme.css

CC-FX/nbproject/private/private.xml

CC-FX/build/built-jar.properties

CC-FX/build/classes/com/saiton/ccs/stock/Items.fxml

CC-FX/build/classes/com/saiton/ccs/stock/Items.fxml

CC-FX/build/built-jar.properties

*.class
/dist/

CC-FX//nbproject/
ihms.properties
CC-FX/nbproject/project.properties
CC-FX/nbproject/project.properties
CC-FX/nbproject/private/private.xml
CC-FX/nbproject/private/private.properties
CC-FX/Logs/logger.log
CC-FX/build/
.DS_Store

CC-FX/Logs/

CC-FX/Logs/logger.log

CC-FX/Logs/
CC-FX/Logs/logger.log
CC-FX/Logs/logger.log

ihms.properties 

hs_err_pid690.log

CC-FX/build/classes/com/saiton/ccs/base/CustomerRegistration.fxml

CC-FX/build/classes/com/saiton/ccs/res/img-kasper-a.png

CC-FX/build/classes/com/saiton/ccs/res/saiton_Logo.jpg
CC-FX/build/built-jar.properties
CC-FX/nbproject/private/private.xml

CC-FX/build/built-jar.properties

CC-FX/nbproject/private/private.xml

CC-FX/nbproject/private/private.properties

CC-FX/build/classes/com/saiton/ccs/base/LoginNoFinger.fxml

CC-FX/nbproject/private/configs/Run_in_Browser.properties
/SM-FX/nbproject/private/
/SM-FX/build/
/SM-FX/dist/
SM-FX/ccs.properties
